.footer {
  margin-top: 20px;
  background-color: #2874f0;
  padding: 10px;
}

.footer__Logo {
  width: 100px;
  object-fit: contain;
  margin: 18px 20px 0px 0px;
}

.footer__language {
  display: flex;
  justify-content: center;
  color: white;
  border: 1px #848688 solid;
  border-radius: 2px;
  padding: 6px 8px;
  cursor: pointer;
}

.footer__options {
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: center;
}

.footer__option {
  margin: 10px 15px 15px 12px;
  color: white;
  cursor: pointer;
}

.footer__options :hover {
  text-decoration: underline;
}
