.payment {
  background-color: white;
}

.payment__container h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.payment__container > h1 > a {
  text-decoration: none;
  color: black;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}

.payment__details > form {
  max-width: 400px;
}

.payment__details > h3 {
  padding-bottom: 20px;
}

.payment__details > form > div > button {
  width: 100%;
  border: 1px solid;
  font-weight: bolder;
  margin-top: 10px;
  padding: 18px 18px;
  background: #fb641b;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  border: none;
  color: #fff;
}
