.subtotal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtotal > button {
  border-radius: 2px;
  cursor: pointer;
  padding: 20px 20px;
  background: #fb641b;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  border: none;
  color: #fff;
  margin: 10px 10px;
}
